@import url("./../index.css");
@import url("./../components/header.css");
@import url("./../components/footer.css");

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin: 50px 120px 0 120px;
  padding-bottom: 100px;
  width: calc(50% - 120px);
  min-width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.btn-group {
  display: flex;
  width: 100%;
  gap: 8px;
}

button.cancel {
  background-color: var(--tertiary);
}

button.cancel:hover {
  background-color: var(--input);
}
