@import url("./../index.css");
@import url("../components/header.css");
@import url("../components/footer.css");

main {
  display: flex;
  flex-direction: column;
  margin: 22px 120px 0 120px;
  gap: 22px;
}

table tr:nth-child(even) {
  background-color: var(--background);
}

table tr:nth-child(odd) {
  background-color: var(--input);
}

table th {
  text-align: left;
  background-color: var(--background);
  padding: 10px 0;
}

table td {
  padding: 10px 5px;
}
