:root {
  --background: #211f2a;
  --foreground: #ffffff;
  --tertiary: #252836;

  --primary: #6757d6;
  --secondary: #757575;

  --input: #2b2f40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Barlow Semi Condensed, sans-serif;
}
